/* Add comment Form */

.addCommentForm{
    width: 585px;
}
.addCommentForm input{
    width: 557px;
    height: 20px;
    --tw-shadow: none;
}
.addCommentForm textarea{
    height: 150px!important;
    width: 470px;
    overflow: auto!important;
    --tw-shadow: none;
}
.text-danger{
    color: red;
}
.ck.ck-balloon-panel {
    z-index: 1050 !important;
}
a{
    color: #1976d2;
}
.ck-balloon-panel_position_border-side_right{
    display: none!important;
}
/* Comment Block */

.commentBlock{
    width: 750px;
    color: #4F4F4F;
}
.commentBlock .comment{
    background: #EBEEFC;
    border-radius: 10px;
    padding: 10px;
}
.commentBlock .comment h2{
    font-weight: bold;
}
